$main-color: #32383e;
$btn-color: blue;
$hover-color: blue;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f9;
  overflow-x: hidden;
}

.overall {
  display: flex;
}

.sidebar {
  width: 250px;
  background: $main-color;
  min-height: 100vh;
}

.hidesidebar {
  display: none !important;
  .links {
    background-color: red !important;
  }
}

.main {
  width: 100%;
}

.main-resize {
  margin-left: 0;
}

.main-header {
  background: #fff;
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.reducesidebarwidth {
  width: 80px;
}

.logotitle {
  margin-top: 1.5rem;
  text-align: center;
  color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.logotitle h4 {
  font-size: 30px;
}

.links {
  margin-top: 2rem;

  ul {
    padding-left: 0 !important;

    .active {
      background-color: #007bff;
      border-radius: 30px 0px 0px 0px;

      select {
        background-color: #007bff;
      }
    }

    li {
      margin-bottom: 0.2rem;
      text-align: center;
      display: flex;
      padding: 0.5rem 1rem;
      width: 100%;
      border-radius: 30px 0px 0px 0px;

      .icon {
        color: #fff;
        font-size: 24px;
        margin-right: 1rem;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
      }

      select:hover {
        background-color: #007bff;
      }

      select:after {
        background-color: $main-color;
      }

      select {
        width: 100%;
        outline: none;
        border: none;
        font-size: 20px;
        background-color: $main-color;
        color: #fff;

        option {
          font-size: 15px;
          background-color: $main-color;
          color: #fff;
        }
      }
    }

    li:hover {
      background-color: #007bff;
    }
  }
}

#main-section-down {
  height: 100%;
}

@media only screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }
}
