body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
}

.main-container {
  position: relative;
  height: 100vh;
}

.caption-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.login-caption {
  font-size: 4rem;
  color: #ebeb2c;
}

.login-container {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  position: absolute;
  border: 2px solid #ebeb2c;
  border-radius: 10px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
}

.login-avatar {
  background-color: #fff;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-top: -30px;
}
